@import url('https://fonts.googleapis.com/css?family=Chakra+Petch&display=swap');
// Your variable overrides
$body-bg: #f7c9f367;
$body-color: #110038;

$theme-colors: (
   'primary': #0074d9,
   'danger': #ff4136,
);

// Bootstrap and its default variables
@import 'node_modules/bootstrap/scss/bootstrap';

.display-flex {
   display: flex;
}

.main-button {
   width: 144px;
   height: 36px;
   background: #f7c9f3;
   border: 1px solid #110038;
   box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

.header {
   background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
   box-shadow: 0 1px 0 0 #110038;
   p {
      color: white;
      font-size: 12px;
   }
}
