@import url('https://fonts.googleapis.com/css?family=Chakra+Petch&display=swap');
$blue: #110038;
$windows-grey: #e6e6e6;
$windows-grey-btn: #b4b4b4;
$blue-gradient: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
$bg-btn-danger: 'red';

:root {
   --primary-color: #fdf4fd;
   --bg-color: #fdf4fd;
   --btn-color: #f7c9f3;
   --btn-font-color: black;
}

[data-theme='dark'] {
   --primary-color: #fdf4fd;
   --btn-color: #ee3efe;
   --bg-color: #130b38;
   --btn-font-color: #ffff;
}

.dark-form {
   label {
      color: var(--btn-font-color);
   }
}

body {
   font-family: 'Chakra Petch', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   background-color: var(--bg-color);
}

button {
   font-weight: 900;
}

.container {
   width: 1194px;
   height: 100%;
   margin: 0 auto;

   @media (max-width: 720px) {
      width: 720px;
   }
   @media (max-width: 375px) {
      width: 375px;
   }
}

.header {
   background-image: $blue-gradient;
   box-shadow: 0 1px 0 0 $blue;
   margin: 0;
   p {
      margin: 0;
      color: white;
      font-size: 12px;
   }
}

.main-btn {
   width: 144px;
   height: 36px;
   margin-right: 16px;
   background: var(--btn-color);
   border: 1px solid $blue;
   box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #a37d7d;
   cursor: pointer;
   color: var(--btn-font-color);
}

.create-group-container {
   display: flex;
   align-items: center;
}

.btn-unstyled {
   all: unset;
   cursor: pointer;
}

.my-gifs-btn {
   background-color: transparent;
   border: none;
   font-size: 16px;
   color: var(--btn-font-color);
   letter-spacing: 0;
   line-height: 18px;
   font-weight: lighter;
   cursor: pointer;
   strong {
      font-weight: lighter;
      text-decoration: underline;
   }
}

.search-nav {
   margin-top: 35px;
   margin-bottom: 16px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.search-input {
   width: 100%;
   height: 99px;
   padding-bottom: 12px;
   background: $windows-grey;
   box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
}

.search-input-header {
   background-image: $blue-gradient;
   height: 24px;
   display: flex;
   align-items: center;
   padding: 6px;
   p {
      font-size: 14px;
      color: #ffffff;
      letter-spacing: 0;
   }
}

.search-input-group {
   display: flex;
   justify-content: space-around;
   margin: 12px;
}

.search-input-bar {
   width: 1037px;
   height: 48px;
   border: 1px solid #979797;
   box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
   ::placeholder {
      margin: 16px;
      font-size: 16px;
      color: $windows-grey-btn;
      letter-spacing: 0;
      line-height: 22px;
   }
   @media (max-width: 720px) {
      width: 720px;
   }
   @media (max-width: 375px) {
      width: 375px;
   }
}

.search-btn {
   width: 102px;
   height: 36px;
   background: $windows-grey;
   font-size: 16px;
   color: $windows-grey-btn;
   letter-spacing: 0;
   line-height: 18px;
   margin-right: 8px;
   cursor: pointer;
   @media (max-width: 375px) {
      width: 100%;
   }
}

.active-search {
   background-color: var(--btn-color);
   color: var(--btn-font-color);
}

.suggestions {
   background-color: $windows-grey;
   margin-top: 64px;
}

.suggestions-header {
   height: 32px;
   background: #fffafe;
   border: 1px solid #e6bbe2;
   box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
   display: flex;
   align-items: center;
   p {
      margin-left: 7px;
      font-size: 14px;
      color: $blue;
      letter-spacing: 0;
   }
}

.suggestions-gifs {
   display: flex;
}

.suggestions-card {
   margin: 0;
   margin-right: 0;
   padding: 0;
   height: 304px;
   width: 280px;
   margin-right: 22px;
   background: #f0f0f0;
   border: 1px solid #080808;
   box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
   img {
      cursor: pointer;
   }
}

.result-list-image {
   display: flex;
   list-style: none;
   padding: 0;
   flex-wrap: wrap;
}

.result-list {
   list-style-type: none;
   padding: 10px 10px 0 25px;
   margin: 0;
   margin-top: 16px;
   border: 1px solid #080808;
   box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
}

.suggestions-card-image {
   display: flex;
}

.suggestion-item {
   margin-bottom: 11px;
   width: 1000px;
   height: 36px;
   cursor: pointer;
   background: #f0f0f0;
   border: 1px solid #808080;
   box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
   padding: 10px;
   text-align: left;
   &:hover {
      background-color: $windows-grey-btn;
      border: 1px solid #110038;
   }
}

.suggestions-card-header {
   background-image: $blue-gradient;
   height: 24px;
   margin: 0;
   display: flex;
   justify-content: space-between;
   padding: 4px;
   p {
      margin: 0;
      font-size: 14px;
      color: #ffffff;
      letter-spacing: 0;
   }
}

.gif-card-container {
   margin: 0;
   padding: 0;
   width: 100%;
   // list-style-type: none;
   // display: flex;

   flex-wrap: wrap;
}

.list-trending {
   list-style: none;
   display: flex;
   overflow-x: visible;
   flex-wrap: wrap;
   padding: 0;
   justify-content: center;
   img {
      height: 280px;
      width: 280px;
   }
}

.trending-image {
   cursor: pointer;
   margin-right: 16px;
   &:hover {
      border: 1px solid #110038;
   }
}

.create-gifs {
   background-color: red;
}

.card-container {
   width: 100%;
   height: auto;
   background-color: $windows-grey;
}

.video-output-group {
   position: relative;
}

.output-video-btn {
   position: absolute;
   top: 80%;
   left: 0;
}

.overlapped-btn {
}

.button-group {
   display: flex;
}

.theme-btn {
   display: block;
   visibility: hidden;
   width: 150px;
   height: 36px;
   background: #fff4fd;
   border: 1px solid #cca6c9;
   box-shadow: inset -1px -1px 0 0 #e6dce4, inset 1px 1px 0 0 #ffffff;
   cursor: pointer;
}

.search-results-list {
   list-style: none;
   display: flex;
   width: 100%;
   flex-wrap: wrap;
   list-style: none;
}

.image-results-list {
   cursor: pointer;
   margin-right: 20px;
}

.search-results {
   width: 100%;
}

.recording-btn {
   background-color: $bg-btn-danger;
   color: $bg-btn-danger;
}

.logo-group {
   display: flex;
   align-items: center;
}

#back-anchor {
   margin-right: 20px;
}

.info-group {
   display: flex;
}

.stop-btn {
   background: #ff6161;
   border: 1px solid #110038;
   box-shadow: inset -1px -1px 0 0 #993a3a, inset 1px 1px 0 0 #ffffff;
}
